@charset "UTF-8";

body{
	font-family: "微軟正黑體","Microsoft JhengHei", Helvtica !important;
	font-weight: normal !important;
	width: 100% !important;
}

.ui-content{
	width: 100%;
	padding: 0;
}

/* 超連結 */
a {
	color: #FFFFFF !important;
	text-decoration: none !important;
	text-shadow:none !important;
}

/* headerBar*/
#header-bar{
	width: 100%;
	height: 44px;
	background: #fff;
}
#header-bar-btnBak{
	padding-left: 12px;
	width: 20%;
}
#naviBar_icon_Back{
	background: url("../images/naviBar_icon_Back.png") center left;
	background-repeat:no-repeat;  
    height: 25px;  
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#naviBar_icon_Back{ 
		background: url("../images/naviBar_icon_Back@2x.png") center left no-repeat;
		  -webkit-background-size:25px 25px;
		     -moz-background-size:25px 25px;
		       -o-background-size:25px 25px;
          		  background-size:25px 25px;
			 }
}
#header-bar-btnAppname{
	width: 60%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-shadow:none !important;
}
#header-bar-btnMenu{
	width: 20%;
	text-align: right;
	padding-right: 12px;
}
#navi_icon_menu{
    height: 25px;
	background: url("../images/navi_icon_menu.png") center right;
	background-repeat:no-repeat;   
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#navi_icon_menu{ 
		background: url("../images/navi_icon_menu@2x.png") center right no-repeat;
		  -webkit-background-size:25px 25px;
		     -moz-background-size:25px 25px;
		       -o-background-size:25px 25px;
          		  background-size:25px 25px;
			 }
}






/* 選班主頁面 */
#change-main{
	width: 100%;
    background:url("../images/index_bg_blue@2x.png");
    background-repeat:repeat-x;
    background-position:left center;
    background-attachment:scroll;
    background-size:100% 100%;
}
div#change-main-content{
	margin-top: 65px;
}
div#change-main-content:first-child p{
	font-size:25px;
	color: #fff;
	margin-left: 35px;
	text-shadow:none !important;
}
div#change-main-content a{
	background: none;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	padding-left: 35px;
	font-weight: normal;
}
div#change-main-content a:first-child{
	margin-top:42px
}


/* aply/resv 選班資格/預約申請 */
table{
	width: 100%;
	border-spacing: 0px;
}
table#sel-serv-t tr{
	height: 43px;
}
table#sel-serv-t td {
	border-bottom: solid;
	border-width: 1px;
	border-color: #000;
	padding-top: 15px;
	padding-bottom: 7px;
	width: 60%;
	text-align: center;
}
table#sel-serv-t th{
	background: #e4e4e4;
	text-align: left;
	padding-left: 23px;
	font-size: 18px;
}
table#sel-serv-t td:first-child{
	padding-left: 17px;
	padding-top: 10px;
	width: 20%;
}
table#sel-serv-t td:last-child{
	width: 20%;
	padding-right: 15px;
	text-align: right;
}
div#list_icon_info_20px{
	background: url("../images/list_icon_info_20px.png") center right no-repeat;
	height: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#list_icon_info_20px{ 
		background: url("../images/list_icon_info_20px@2x.png") center right no-repeat;
		  -webkit-background-size:20px 20px;
		     -moz-background-size:20px 20px;
		       -o-background-size:20px 20px;
          		  background-size:20px 20px;
			 }
}
input#ck1{
	height: 20px;
}




/* prog 處理進度查詢 */
table#sel-prog-t{
	font-weight: normal;
}
table#sel-prog-t th{
	background: #0067d9;
	color: #fff;
	text-align: right;
	padding: 10px;
}
table#sel-prog-t td{
	padding: 10px;
}
table#sel-prog-t td:first-child{
	padding: 10px;
	width: 20%;
	border-right: solid 1px #a20102;
	text-align: right;
}

/*****************/
/* POPUP彈跳視窗 */
/*****************/
.ui-content.popupDiv{
	max-width: 400px;
	min-width: 300px;
	background: white;
	font-size: 17px;
	padding: 0px;
}
.ui-header.popup-header{
	background: white;
	text-align: center;
	padding: 0px 0px 0px 0px;
}
.popup-content{
	background: white;
}
.popup-content p{
	padding: 17px 22px 20px 22px;
}
.ui-btn.btnPopOK{
	color: #007aff;
	/*margin-bottom: -10px;*/
	height: 44px;
	font-size: 18px;
	font-weight: bold;
}
.ui-btn.btnPopOK div{
	text-align:center; 
	height: 44px; 
	line-height: 44px;
}


/**********************/
/* NavBar_Slide Panel */
/**********************/
.ui-panel{
	width: 230px;
	border: none;
	background: #4d4d4d;
}
.ui-panel-inner {
  padding: 0px;
}

/* 姓名title */
div#navbar li#li-title{
	background: #4d4d4d;
	border: none;
	border-bottom: solid 1px #a7a7a7;
	height: 44px;
	padding: 0;
	padding-left: 20px;	
}
div#navbar li#li-title p{
	display: inline;
	padding: 0;
	font-size: 16px;
}
div#navbar li#li-title p:first-child{
	font-size: 20px;
}

/* 列表標籤divider */
ul
.ui-li-divider.lidi{
	padding: 0px 0px 0px 45px;
	border: none;
	height: 44px;
	background: #434343;
}
div#navbar li{
	font-size: 16px;
	/*height: 44px;*/
}
div#navbar p{
	padding-left: 45px;
	font-size: 16px;
}

a#list-divider-p p{
	color: #fff;
}
.ui-li-divider.lidi.lidi_border{
	border-bottom: solid 1px #a7a7a7;
}

/* 列表標籤icon */
div#menu_icon_changes{
	background: url("../images/menu_icon_changes.png");
	background-repeat:no-repeat;
	margin-left: -30px;
	margin-top: -20px;
	height: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#menu_icon_changes{ 
		background: url("../images/menu_icon_changes@2x.png") no-repeat;
		  -webkit-background-size:22px 22px;
		     -moz-background-size:22px 22px;
		       -o-background-size:22px 22px;
          		  background-size:22px 22px;
			 }
}

div#menu_icon_airplane{
	background: url("../images/menu_icon_airplane.png");
	background-repeat:no-repeat;
	margin-left: -30px;
	margin-top: -20px;
	height: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#menu_icon_airplane{ 
		background: url("../images/menu_icon_leave@2x.png") no-repeat;
		  -webkit-background-size:22px 22px;
		     -moz-background-size:22px 22px;
		       -o-background-size:22px 22px;
          		  background-size:22px 22px;
			 }
}

div#menu_icon_leave{
	background: url("../images/menu_icon_leave.png");
	background-repeat:no-repeat;
	margin-left: -30px;
	margin-top: -20px;
	height: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#menu_icon_leave{ 
		background: url("../images/menu_icon_leave@2x.png") no-repeat;
		  -webkit-background-size:22px 22px;
		     -moz-background-size:22px 22px;
		       -o-background-size:22px 22px;
          		  background-size:22px 22px;
			 }
}

div#menu_icon_bubble{
	background: url("../images/menu_icon_bubble.png");
	background-repeat:no-repeat;
	margin-left: -30px;
	margin-top: -20px;
	height: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#menu_icon_bubble{ 
		background: url("../images/menu_icon_bubble@2x.png") no-repeat;
		  -webkit-background-size:22px 22px;
		     -moz-background-size:22px 22px;
		       -o-background-size:22px 22px;
          		  background-size:22px 22px;
			 }
}

div#menu_icon_mail{
	background: url("../images/menu_icon_mail.png");
	background-repeat:no-repeat;
	margin-left: -30px;
	margin-top: -20px;
	height: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#menu_icon_mail{ 
		background: url("../images/menu_icon_mail@2x.png") no-repeat;
		  -webkit-background-size:22px 22px;
		     -moz-background-size:22px 22px;
		       -o-background-size:22px 22px;
          		  background-size:22px 22px;
			 }
}

div#menu_icon_settings{
	background: url("../images/menu_icon_settings.png");
	background-repeat:no-repeat;
	margin-left: -30px;
	margin-top: -20px;
	height: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#menu_icon_settings{ 
		background: url("../images/menu_icon_settings@2x.png") no-repeat;
		  -webkit-background-size:22px 22px;
		     -moz-background-size:22px 22px;
		       -o-background-size:22px 22px;
          		  background-size:22px 22px;
			 }
}

div#menu_btn_logout{
	background: url("../images/menu_btn_logout.png");
	background-repeat:no-repeat;
	height: 33px;
	margin-top: 65px;
	margin-left: -16.5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#menu_btn_logout{ 
		background: url("../images/menu_btn_logout@2x.png") no-repeat;
		  -webkit-background-size:143px 33px;
		     -moz-background-size:143px 33px;
		       -o-background-size:143px 33px;
          		  background-size:143px 33px;
			 }
}


/* 列表文字 */
div#navbar a{
	background: #4d4d4d;
	border: none;
	border-bottom: solid 1px #a7a7a7;
	font-weight: normal;
	margin-left: 45px;
}
div#navbar a#li-noborder{
	border: none;
}





/* button */
div#btnApply{
	text-align: center;
	margin-top: 60px;
}
div#btnApply a{
	margin: 0px auto;
	width: 145px;
	height: 44px;
	font-weight: normal;
	font-size: 17px;
	color: #fff;
	background: #0067d9;
}
div#btnApply div{
	/*按鈕文字置中*/
	text-align:center; 
	height:44px; 
	line-height:44px;
}



/**********************
 * ui-btn-icon custom 
 *********************/
.ui-icon-menu_btn_arrow_right_white:after{
	background-image: url("../images/menu_btn_arrow_right_white.png");
	background-repeat:no-repeat;
	height: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-menu_btn_arrow_right_white:after{ 
		background: url("../images/menu_btn_arrow_right_white@2x.png") no-repeat;
		  -webkit-background-size:22px 22px;
		     -moz-background-size:22px 22px;
		       -o-background-size:22px 22px;
          		  background-size:22px 22px;
			 }
}
